{% extends 'base.html.twig' %}

{% block title %}Hello KnowlageBaseController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>{{ title }}</h1>

		{% if knowlages|length >0%}

			<ul>
				{% for node in knowlages %}
					<li>
						<h2>
							<a href={{ path('node', {slug: node.slug} )}}>
								{{ node.title }}
							</a>
						</h2>
					</li>
				</ul>
			{% endfor %}
			{% if prev >=0 %}
				<a href={{ path('knowlage_base', {offset: prev} ) }}>Prev</a>
			{% endif %}

			{% if next < knowlages|length %}
				<a href={{ path('knowlage_base', {offset: next} ) }}>Next</a>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
